{% extends "base.html" %}

{% block title %}
  Редактирование профиля
{% endblock %}

{% block content %}
  <h1 class="mb-5 text-center">Редактирование профиля</h1>

  <form class="profile-form" method="post">
    {% csrf_token %}
    <div class="form-row">
      <label for="{{ form.username.id_for_label }}">Имя пользователя:</label>
      {{ form.username }}
    </div>
    <div class="form-row">
      <label for="{{ form.email.id_for_label }}">Email:</label>
      {{ form.email }}
    </div>
    <div class="form-row">
      <label for="{{ form.first_name.id_for_label }}">Имя:</label>
      {{ form.first_name }}
    </div>
    <div class="form-row">
      <label for="{{ form.last_name.id_for_label }}">Фамилия:</label>
      {{ form.last_name }}
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
  </form>

{% endblock %}

